<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>868183618251-klulqu7m0ebaau7qeuurjr2oe09ppk09.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.868183618251-klulqu7m0ebaau7qeuurjr2oe09ppk09</string>
	<key>API_KEY</key>
	<string>AIzaSyAT3t1Wz2SQp8SH297TsYzKMF0YIyojElU</string>
	<key>GCM_SENDER_ID</key>
	<string>868183618251</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.luqmaankhan.FantasyIQ</string>
	<key>PROJECT_ID</key>
	<string>fantasyiq-d5291</string>
	<key>STORAGE_BUCKET</key>
	<string>fantasyiq-d5291.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:868183618251:ios:885df8675031d155aea14e</string>
	<key>DATABASE_URL</key>
	<string>https://fantasyiq-d5291.firebaseio.com</string>
</dict>
</plist>